In [ ]:
#This is probably the weirdest way I've ever had to go about solving a problem. 
#The Problem: Urgent Data Request - I need to fill out 2 remaining columns in an Excel file. 
#The issue is there were tons of transformations done in the excel file, and I do not know what they are, 
#so it would be nearly impossible to write a SQL query for all unknown conditions and match all 4674 rows. 
#There is also a lot of dirty data in some of these fields in our warehouse around some of these fields
#(Legal entity duplicates causing many to many relationships)
#The Solution: Write a query for each row.

In [1]:
import pandas as pd
import pyodbc 
import matplotlib as plt

#Change Jupyter io limit to 1M to make sure all queries are being generated (100,000 lines is the default limit)
#--NotebookApp.iopub_data_rate_limit=1000000000
%matplotlib inline

In [2]:
#establish MS DB Connection
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=serveraddress;DATABASE=dbname;UID=user;PWD=pass')
#create Cursor
cursor = cnxn.cursor()

In [3]:
#get file and transform to data frame
f = open('C:\Users\\pathtofile\file.csv')
inputFile = pd.read_csv(f)
df = pd.DataFrame(inputFile)
f.close()

In [1]:
df.head()
#Can't show data publicly

In [7]:
queryFile = open('C:\Users\\pathtofile\file.csv', 'w')

In [ ]:
#Writes queries to text file with a pipe delimiter. One query per row in csv file. 
#The reason it had to be written like this is dirty data. 
#The legal entity IDs are attributed to many names and different spellings making a 'like' clause impossible 

row_iterator = df.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator

for i, row in row_iterator:
    row1 = (int(row['LEGAL_ENTITY']), int(row['CY_YE']), int(row['TRIP_ASLOB']), row['CVG_ST'])
    row2 = (last['LEGAL_ENTITY'], last['CY_YE'], last['TRIP_ASLOB'], last['CVG_ST'])
    last = row
    data = row1

    
    query= """USE xxx
    DECLARE @xxx TABLE (Value VARCHAR(MAX))
    
    INSERT INTO @xxx VALUES ('xxx') 
    INSERT INTO @xxx VALUES ('xxx') 
    
    DECLARE @xxx TABLE (Value VARCHAR(MAX))
    
    INSERT INTO @xxx VALUES ('xxx') 
    INSERT INTO @xxx VALUES ('xxx') 
    
    DECLARE @bric TABLE (Value VARCHAR(MAX))
    
    INSERT INTO @xxx VALUES ('xxx')
    INSERT INTO @xxx VALUES ('xxx') 
    INSERT INTO @xxx VALUES ('xxx') 
    
    DECLARE @xxx TABLE (Value VARCHAR(MAX))
    INSERT INTO @xxx VALUES ('xxx') 
    
    INSERT INTO @starnet VALUES ('xxx') 
    DECLARE @entityID int = {}
    
    IF @entityID = 10833
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name in (SELECT * FROM @xxx)
    
    END
    
    IF @entityID = 25224
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name in (SELECT * FROM @xxx)
    
    END
    
    IF @entityID = 29580
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name in (SELECT * FROM @xxx)
    
    END
    
    IF @entityID = 31003
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 31295
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 32603
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 38911
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 40045
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = {}
    and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = '{}'
    and rpt_co_name in (SELECT * FROM @xxx)
    END 
    """.format(data[0], data[2], data[1], data[3], data[2], data[1], 
                  data[3], data[2], data[1], data[3], data[2], data[1], 
                  data[3], data[2], data[1], data[3], data[2], data[1], 
                  data[3], data[2], data[1], data[3], data[2], data[1], data[3])
    
    queryFile.write(query)
    print query
queryFile.close()

In [ ]:
#Runs successfully and does what is expected.

In [2]:
#Stripped all but 1 query from the file to test. Print out query to see if anything's missing
queryFile = open('C:\Users\\pathtofile\file.csv', 'r')

for line in queryFile:
    fields = line.split('|')
    print fields[0]
#Can's show actual sql on public file

In [76]:
#Spacing and indents came out a bit odd, but it runs in SSMS. For now, it looks good.

In [82]:
queryFile = open(queryFile = open('C:\Users\\pathtofile\file.csv', 'r')

for line in queryFile:
    fields = line.split('|')
    print fields[0], 'r')

for line in queryFile:
    fields = line.split('|')
    cursor.execute(fields[0])

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Must declare the table variable "@gemini". (1087) (SQLExecDirectW)')

In [79]:
#According to this Stack Overflow post:
#http://stackoverflow.com/questions/13750548/sql-server-variable-declared-but-still-says-must-declare-the-scalar-variable
#there is a workaround but I would have to restructure everything and it may slow down execution. 
#Temp Table test. Runs in SSMS
query = """USE xxx
    CREATE TABLE  #xxx (Value VARCHAR(MAX))
    
    INSERT INTO #xxx VALUES ('xxx') 
    INSERT INTO #xxx VALUES ('xxx') 
    
    CREATE TABLE #xxx (Value VARCHAR(MAX))
    
    INSERT INTO #xxx VALUES ('xxx') 
    INSERT INTO #xxx VALUES ('xxx') 
    
    CREATE TABLE #xxx (Value VARCHAR(MAX))
    
    INSERT INTO #xxx VALUES ('xxx')
    INSERT INTO #xxx VALUES ('xxx') 
    INSERT INTO #xxx VALUES ('xxx') 
    
    CREATE TABLE #xxx (Value VARCHAR(MAX))
    INSERT INTO #xxx VALUES ('xxx') 
    
    INSERT INTO #starnet VALUES ('xxx') 
    DECLARE @entityID int = 10833
    
    IF @entityID = 10833
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name in (SELECT * FROM #xxx)
    
    END
    
    IF @entityID = 25224
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name in (SELECT * FROM #xxx)
    
    END
    
    IF @entityID = 29580
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name in (SELECT * FROM #xxx)
    
    END
    
    IF @entityID = 31003
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 31295
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 32603
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx 
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 38911
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name = 'xxx'
    
    END
    
    IF @entityID = 40045
    BEGIN
    
    SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
    FROM xxx
    WHERE aslob = 90
    and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
    and cvg_state = 'CA'
    and rpt_co_name in (SELECT * FROM #xxx)
    END""")

cursor.execute(query)
cursor.fetchall()

In [ ]:
#Too slow. I'm done with tempdb. It's not great friends with pyodbc. I'm making a lookup table.
#Create Lookup Table
query = '''CREATE TABLE NAIC_Legal_Entity_Lookup  (ID int,
                                     Ent_Name VARCHAR(500))

INSERT INTO NAIC_Legal_Entity_Lookup 
VALUES (10833,'xxx'),
       (10833,'xxx xxx xxx'),
       (25224,'xxx xxx'),
       (25224,'xxx xxx xxx xxx'),
       (29580,'xxx xxx'),
       (29580,'xxx xxx xxx xxx'),
       (29580,'xxx'),
       (31003,'xxx xxx xxx xxx xxx xxx'),
       (31295,'xxx xxx xxx xxx xxx'),
       (32603,'xxx xxx xxx'),  
       (38911,'xxx xxx xxx xxx'), 
       (40045,'xxxt'),
       (40045,'xxx xxx xxx')
       '''
cursor.execute(query)

In [3]:
#Test
cursor.execute('select * from NAIC_Legal_Entity_Lookup')
cursor.fetchall()
#Passed - Can't show names on public file

In [22]:
#Test
query = '''DECLARE @entityID int = 10833
                  SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(lmt_pol_s) Exposure
                  FROM xxx
                  WHERE aslob = 90
                  and CONCAT(2009,1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
                  and cvg_state = 'CA'
                  and rpt_co_name in (SELECT Ent_Name FROM NAIC_Legal_Ent_Lookup WHERE ID = @entityID)'''

cursor.execute(query)
cursor.fetchall()

[(2, Decimal('45075000.00'))]

In [6]:
#From file test

with open('C:/users/pathtofile/file.csv', 'r') as q:
    data = q.read().replace('|', '')
cursor.execute(data)
cursor.fetchall()

[(2, Decimal('45075000.00'))]

In [67]:
#Moving this down here for easier access
file = open('C:/users/pathtofile/file.csv', 'w')
#file.close()

In [4]:
#Since the above runs quickly, I'm going to re-write the queries in this format. 
row_iterator = df.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator

for i, row in row_iterator:
    row1 = (int(row['LEGAL_ENTITY']), int(row['CY_YE']), int(row['TRIP_ASLOB']), row['CVG_ST'])
    row2 = (last['LEGAL_ENTITY'], last['CY_YE'], last['TRIP_ASLOB'], last['CVG_ST'])
    last = row
    data = row1
    
    query= """SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(distinct(lmt_pol_s)) Exposure
              FROM bapu.dbo.xxx
              WHERE aslob = {}
              and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
              and cvg_state = '{}'
              and rpt_co_name in (SELECT Ent_Name FROM NAIC_Legal_Ent_Lookup WHERE ID = {})
              |""".format(data[2],data[1],data[3], data[0])
    
    file.write(query)
#passed

In [5]:
#Added row number
#Before testing the file, I want to see how quickly results are returned directly from Juppyter. 

row_iterator = df.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator

for i, row in row_iterator:
    row1 = (int(row['LEGAL_ENTITY']), int(row['CY_YE']), int(row['TRIP_ASLOB']), row['CVG_ST'], int(row['Row']))
    row2 = (last['LEGAL_ENTITY'], last['CY_YE'], last['TRIP_ASLOB'], last['CVG_ST'], int(row['Row']))
    last = row
    data = row1
    query= """SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(distinct(lmt_pol_s)) Exposure
              FROM bapu.dbo.xxx
              WHERE aslob = {}
              and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
              and cvg_state = '{}'
              and rpt_co_name in (SELECT Ent_Name FROM NAIC_Legal_Ent_Lookup WHERE ID = {})
              and (cvg_desc = 'tria' or cvg_desc like '%terrorism%')
              """.format(data[2],data[1],data[3], data[0])
    cursor.execute(query)
    for row in cursor.fetchall():
        #print row[0], row[1], data[2], data[1], data[3], data[0], data[4]
#passed - Can't show data on public file

In [ ]:
#Runs pretty quickly. Writing TRIA results to result file
row_iterator = df.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator
resultFile = open('C:\\Users\\pathtofile\\file.csv', 'w')

for i, row in row_iterator:
    row1 = (int(row['LEGAL_ENTITY']), int(row['CY_YE']), int(row['TRIP_ASLOB']), row['CVG_ST'], int(row['Row']))
    row2 = (last['LEGAL_ENTITY'], last['CY_YE'], last['TRIP_ASLOB'], last['CVG_ST'], int(row['Row']))
    last = row
    data = row1
    query= """SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(distinct(lmt_pol_s)) Exposure
              FROM bapu.dbo.xxx
              WHERE aslob = {}
              and CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
              and cvg_state = '{}'
              and rpt_co_name in (SELECT Ent_Name FROM NAIC_Legal_Ent_Lookup WHERE ID = {})
              and (cvg_desc = 'tria' or cvg_desc like '%terrorism%')
              """.format(data[2],data[1],data[3], data[0])
    cursor.execute(query)
    for row in cursor.fetchall():
        resultFile.write("{} {} {} {} {} {} {} \n".format(row[0], row[1], data[2], data[1], data[3], data[0], data[4]))
        print row[0], row[1], data[2], data[1], data[3], data[0], data[4]

In [7]:
#That worked well. Doing the same for the State file. Get file and transform to data frame
f2 = open('C:\Users\\pathtofile\\file.csv')
file2 = pd.read_csv(f2)
df2 = pd.DataFrame(file2)

In [8]:
# Check data
df2.head()

   Row  LEGAL_ENTITY  CY_YE CVG_ST
0    1         10833   2008     PR
1    2         10833   2009     CA
2    3         10833   2009     ID
3    4         10833   2009     PR
4    5         10833   2010     CA

In [9]:
#Writing STATE results to result file
row_iterator = df2.iterrows()
_, last = row_iterator.next()  # take first item from row_iterator
resultFile = open('C:\Users\\pathtofile\\file.csv', 'w')
for i, row in row_iterator:
    row1 = (int(row['LEGAL_ENTITY']), int(row['CY_YE']), row['CVG_ST'], int(row['Row']))
    row2 = (last['LEGAL_ENTITY'], last['CY_YE'], last['CVG_ST'], int(row['Row']))
    last = row
    data = row1
    query= """SELECT COUNT(DISTINCT(pol_num)) In_Force_Count, sum(distinct(lmt_pol_s)) Exposure
              FROM bapu.dbo.xxx
              WHERE CONCAT({},1231) between CAST(d_pol_eff AS DATE) and CAST(d_pol_exp AS DATE)
              and cvg_state = '{}'
              and rpt_co_name in (SELECT Ent_Name FROM NAIC_Legal_Ent_Lookup WHERE ID = {})
              and (cvg_desc = 'tria' or cvg_desc like '%terrorism%')
              """.format(data[1],data[2],data[0])
    cursor.execute(query)
    for row in cursor.fetchall():
        resultFile.write("{} {} {} {} {} {} \n".format(row[0], row[1], data[1], data[2], data[0], data[3]))
        print row[0], row[1], data[1], data[2], data[0], data[3]

0 None 2009 CA 10833 2
0 None 2009 ID 10833 3
0 None 2009 PR 10833 4
2 5250000.00 2010 CA 10833 5
0 None 2010 FL 10833 6
0 None 2010 ID 10833 7
2 1500000.00 2010 NY 10833 8
0 None 2010 PR 10833 9
4 12125000.00 2011 CA 10833 10
0 None 2011 FL 10833 11
0 None 2011 ID 10833 12
6 93574000.00 2011 NY 10833 13
1 500000.00 2011 PR 10833 14
4 12125000.00 2012 CA 10833 15
1 75000.00 2012 GA 10833 16
9 39777270.00 2012 NY 10833 17
1 250000.00 2012 PR 10833 18
1 5000000.00 2012 TN 10833 19
1 3000000.00 2013 CA 10833 20
0 None 2013 GA 10833 21
4 28000000.00 2013 NY 10833 22
2 75250000.00 2013 PR 10833 23
0 None 2013 TN 10833 24
0 None 2014 CA 10833 25
3 11000000.00 2014 NY 10833 26
2 75250000.00 2014 PR 10833 27
2 13000000.00 2015 NY 10833 28
1 250000.00 2015 PR 10833 29
0 None 2016 NY 10833 30
1 250000.00 2016 PR 10833 31
2 7207911.00 2008 FL 25224 32
5 32659422.00 2008 MA 25224 33
0 None 2008 MN 25224 34
1 20837928.00 2008 MO 25224 35
1 2118000.00 2008 NC 25224 36
3 16700000.00 2009 FL 25224 37
1 4500000.00 2009 MA 25224 38
0 None 2009 MN 25224 39
0 None 2009 MO 25224 40
1 2118000.00 2009 NC 25224 41
0 None 2010 FL 25224 42
0 None 2010 MA 25224 43
0 None 2010 MN 25224 44
0 None 2010 MO 25224 45
0 None 2010 NC 25224 46
1 250000.00 2009 NY 29580 47
0 None 2010 NY 29580 48
0 None 2011 CA 29580 49
1 2000000.00 2011 CT 29580 50
13 2000000.00 2011 IL 29580 51
2 2000000.00 2011 MO 29580 52
7 2000000.00 2011 NY 29580 53
1 2000000.00 2011 OR 29580 54
3 2000000.00 2011 TX 29580 55
1 500000.00 2012 AL 29580 56
1 2000000.00 2012 AZ 29580 57
12 9698520.00 2012 CA 29580 58
4 7500000.00 2012 CO 29580 59
1 2000000.00 2012 CT 29580 60
6 6835400.00 2012 FL 29580 61
5 7500000.00 2012 GA 29580 62
17 2500000.00 2012 IL 29580 63
2 2000000.00 2012 MO 29580 64
2 818300.00 2012 NC 29580 65
2 2000000.00 2012 NJ 29580 66
75 33000000.00 2012 NY 29580 67
1 2000000.00 2012 OR 29580 68
1 994477.00 2012 PA 29580 69
2 2500000.00 2012 SC 29580 70
1 2000000.00 2012 TN 29580 71
10 13372574.00 2012 TX 29580 72
2 600000.00 2013 AL 29580 73
1 2000000.00 2013 AZ 29580 74
15 17108520.00 2013 CA 29580 75
4 14073200.00 2013 CO 29580 76
3 2500000.00 2013 CT 29580 77
14 13085400.00 2013 FL 29580 78
5 7500000.00 2013 GA 29580 79
17 21018700.00 2013 IL 29580 80
2 4163200.00 2013 IN 29580 81
1 500000.00 2013 KY 29580 82
5 6594500.00 2013 MA 29580 83
1 2000000.00 2013 MD 29580 84
1 2000000.00 2013 MO 29580 85
5 1163300.00 2013 NC 29580 86
1 2000000.00 2013 NH 29580 87
4 7000000.00 2013 NJ 29580 88
105 52360000.00 2013 NY 29580 89
1 2000000.00 2013 OH 29580 90
3 3110000.00 2013 OR 29580 91
1 994477.00 2013 PA 29580 92
2 500000.00 2013 SC 29580 93
2 2500000.00 2013 TN 29580 94
27 20572574.00 2013 TX 29580 95
6 2500000.00 2014 AL 29580 96
4 16000000.00 2014 AZ 29580 97
40 21708520.00 2014 CA 29580 98
5 12073200.00 2014 CO 29580 99
11 8100000.00 2014 CT 29580 100
4 13000000.00 2014 DC 29580 101
18 16585400.00 2014 FL 29580 102
9 11500000.00 2014 GA 29580 103
22 29018700.00 2014 IL 29580 104
2 4163200.00 2014 IN 29580 105
2 500000.00 2014 KY 29580 106
2 12000000.00 2014 LA 29580 107
10 9594500.00 2014 MA 29580 108
4 5000000.00 2014 MD 29580 109
3 6000000.00 2014 MI 29580 110
1 3000000.00 2014 MN 29580 111
2 5000000.00 2014 MO 29580 112
1 2000000.00 2014 MS 29580 113
10 8426000.00 2014 NC 29580 114
1 500000.00 2014 NE 29580 115
1 2000000.00 2014 NH 29580 116
13 10500000.00 2014 NJ 29580 117
1 550000.00 2014 NM 29580 118
4 17000000.00 2014 NV 29580 119
209 105458667.00 2014 NY 29580 120
3 5000000.00 2014 OH 29580 121
1 2000000.00 2014 OK 29580 122
3 3000000.00 2014 OR 29580 123
4 6494477.00 2014 PA 29580 124
1 4975360.00 2014 RI 29580 125
3 2500000.00 2014 SC 29580 126
4 2500000.00 2014 TN 29580 127
39 15740000.00 2014 TX 29580 128
2 1500000.00 2014 VA 29580 129
1 3000000.00 2014 WA 29580 130
1 7000000.00 2015 AK 29580 131
5 2500000.00 2015 AL 29580 132
1 1000000.00 2015 AR 29580 133
5 16000000.00 2015 AZ 29580 134
93 42763520.00 2015 CA 29580 135
4 11573200.00 2015 CO 29580 136
12 12100000.00 2015 CT 29580 137
2 8000000.00 2015 DC 29580 138
1 500000.00 2015 DE 29580 139
29 16725000.00 2015 FL 29580 140
11 7500000.00 2015 GA 29580 141
1 2000000.00 2015 ID 29580 142
19 33473416.00 2015 IL 29580 143
6 5663200.00 2015 IN 29580 144
4 1500000.00 2015 KY 29580 145
2 2500000.00 2015 LA 29580 146
8 9594500.00 2015 MA 29580 147
7 5500000.00 2015 MD 29580 148
3 6000000.00 2015 MI 29580 149
1 3000000.00 2015 MN 29580 150
2 5000000.00 2015 MO 29580 151
1 2000000.00 2015 MS 29580 152
10 9400000.00 2015 NC 29580 153
1 500000.00 2015 NE 29580 154
0 None 2015 NH 29580 155
14 10500000.00 2015 NJ 29580 156
0 None 2015 NM 29580 157
7 18500000.00 2015 NV 29580 158
210 80833974.00 2015 NY 29580 159
6 5000000.00 2015 OH 29580 160
2 2500000.00 2015 OK 29580 161
3 3000000.00 2015 OR 29580 162
11 15584845.00 2015 PA 29580 163
0 None 2015 RI 29580 164
2 2500000.00 2015 SC 29580 165
6 2500000.00 2015 TN 29580 166
49 15740000.00 2015 TX 29580 167
4 1500000.00 2015 VA 29580 168
1 3000000.00 2015 WA 29580 169
1 3000000.00 2015 WI 29580 170
1 500000.00 2015 WV 29580 171
3 9000000.00 2016 AK 29580 172
3 2500000.00 2016 AL 29580 173
1 1000000.00 2016 AR 29580 174
3 3000000.00 2016 AZ 29580 175
93 45749520.00 2016 CA 29580 176
4 13659728.00 2016 CO 29580 177
10 10664000.00 2016 CT 29580 178
2 7000000.00 2016 DC 29580 179
1 500000.00 2016 DE 29580 180
33 17825000.00 2016 FL 29580 181
24 11500000.00 2016 GA 29580 182
1 2000000.00 2016 ID 29580 183
18 33593416.00 2016 IL 29580 184
8 5749728.00 2016 IN 29580 185
5 1500000.00 2016 KY 29580 186
2 2500000.00 2016 LA 29580 187
10 12258280.00 2016 MA 29580 188
6 2500000.00 2016 MD 29580 189
2 3000000.00 2016 MI 29580 190
0 None 2016 MN 29580 191
1 3120000.00 2016 MO 29580 192
2 2500000.00 2016 MS 29580 193
9 9712000.00 2016 NC 29580 194
1 500000.00 2016 NE 29580 195
14 17120000.00 2016 NJ 29580 196
3 6500000.00 2016 NV 29580 197
193 92217646.00 2016 NY 29580 198
6 4080000.00 2016 OH 29580 199
2 4500000.00 2016 OK 29580 200
2 1000000.00 2016 OR 29580 201
13 17584845.00 2016 PA 29580 202
1 500000.00 2016 SC 29580 203
6 3500000.00 2016 TN 29580 204
47 12740000.00 2016 TX 29580 205
1 2000000.00 2016 UT 29580 206
4 1500000.00 2016 VA 29580 207
2 5120000.00 2016 WA 29580 208
1 3000000.00 2016 WI 29580 209
1 500000.00 2016 WV 29580 210
4 1500000.00 2014 AL 31003 211
1 500000.00 2014 AR 31003 212
1 1000000.00 2014 AZ 31003 213
3 1000000.00 2014 CA 31003 214
2 500000.00 2014 CT 31003 215
1 500000.00 2014 DC 31003 216
8 1500000.00 2014 GA 31003 217
6 500000.00 2014 IL 31003 218
3 1500000.00 2014 IN 31003 219
2 500000.00 2014 KS 31003 220
1 500000.00 2014 LA 31003 221
1 500000.00 2014 MD 31003 222
2 1500000.00 2014 MI 31003 223
4 1500000.00 2014 NC 31003 224
1 500000.00 2014 NH 31003 225
1 1000000.00 2014 NJ 31003 226
1 1000000.00 2014 NV 31003 227
3 1500000.00 2014 NY 31003 228
7 1500000.00 2014 PA 31003 229
1 1000000.00 2014 SC 31003 230
1 500000.00 2014 TN 31003 231
3 1000000.00 2014 TX 31003 232
7 1500000.00 2014 VA 31003 233
1 500000.00 2014 WV 31003 234
12 1500000.00 2015 AL 31003 235
1 500000.00 2015 AR 31003 236
0 None 2015 AZ 31003 237
11 1000000.00 2015 CA 31003 238
1 500000.00 2015 CO 31003 239
1 500000.00 2015 CT 31003 240
1 500000.00 2015 DC 31003 241
22 1500000.00 2015 GA 31003 242
18 500000.00 2015 IL 31003 243
6 1500000.00 2015 IN 31003 244
7 1500000.00 2015 KS 31003 245
3 500000.00 2015 KY 31003 246
5 1500000.00 2015 LA 31003 247
1 500000.00 2015 MA 31003 248
3 500000.00 2015 MD 31003 249
5 1500000.00 2015 MI 31003 250
2 500000.00 2015 MN 31003 251
2 500000.00 2015 MO 31003 252
4 500000.00 2015 MS 31003 253
14 1500000.00 2015 NC 31003 254
1 500000.00 2015 NH 31003 255
1 1000000.00 2015 NJ 31003 256
3 1500000.00 2015 NM 31003 257
3 1500000.00 2015 NV 31003 258
19 1500000.00 2015 NY 31003 259
1 1000000.00 2015 OK 31003 260
8 1500000.00 2015 PA 31003 261
3 1500000.00 2015 SC 31003 262
5 500000.00 2015 TN 31003 263
4 1000000.00 2015 TX 31003 264
16 1500000.00 2015 VA 31003 265
1 500000.00 2015 WV 31003 266
10 1500000.00 2016 AL 31003 267
2 500000.00 2016 AR 31003 268
1 1000000.00 2016 AZ 31003 269
19 1500000.00 2016 CA 31003 270
3 1500000.00 2016 CO 31003 271
2 1000000.00 2016 CT 31003 272
1 500000.00 2016 DC 31003 273

20 1500000.00 2016 GA 31003 274
17 1500000.00 2016 IL 31003 275
7 1500000.00 2016 IN 31003 276
7 1500000.00 2016 KS 31003 277
3 500000.00 2016 KY 31003 278
5 1500000.00 2016 LA 31003 279
1 500000.00 2016 MA 31003 280
3 500000.00 2016 MD 31003 281
5 1500000.00 2016 MI 31003 282
2 500000.00 2016 MN 31003 283
2 500000.00 2016 MO 31003 284
2 500000.00 2016 MS 31003 285
14 1500000.00 2016 NC 31003 286
1 500000.00 2016 NH 31003 287
2 1500000.00 2016 NJ 31003 288
2 1000000.00 2016 NM 31003 289
3 1500000.00 2016 NV 31003 290
22 1500000.00 2016 NY 31003 291
1 1000000.00 2016 OK 31003 292
11 1500000.00 2016 PA 31003 293
5 1500000.00 2016 SC 31003 294
1 1000000.00 2016 SD 31003 295
5 500000.00 2016 TN 31003 296
10 1500000.00 2016 TX 31003 297
18 1500000.00 2016 VA 31003 298
1 500000.00 2016 WI 31003 299
1 500000.00 2016 WV 31003 300
1 4975360.00 2013 RI 31295 301
0 None 2014 RI 31295 302
6 1586555.10 2008 CA 32603 303
3 9056853.00 2008 CT 32603 304
4 13362005.59 2008 FL 32603 305
1 64233.00 2008 GA 32603 306
0 None 2008 IL 32603 307
1 2569320.00 2008 KY 32603 308
2 1284660.00 2008 MA 32603 309
0 None 2008 ME 32603 310
0 None 2008 MI 32603 311
3 2643187.95 2008 NJ 32603 312
1 1670058.00 2008 NM 32603 313
0 None 2008 NV 32603 314
97 299380002.17 2008 NY 32603 315
0 None 2008 OH 32603 316
2 10341513.00 2008 PA 32603 317
2 8606579.67 2008 TX 32603 318
0 None 2008 WA 32603 319
2 1220427.00 2009 AZ 32603 320
10 13377832.50 2009 CA 32603 321
0 None 2009 CO 32603 322
4 2926980.00 2009 CT 32603 323
1 32116.50 2009 DC 32603 324
0 None 2009 DE 32603 325
9 16365906.00 2009 FL 32603 326
1 58075.00 2009 GA 32603 327
0 None 2009 ID 32603 328
3 7579494.00 2009 IL 32603 329
1 6423300.00 2009 KS 32603 330
1 17930690.05 2009 KY 32603 331
1 2787600.00 2009 LA 32603 332
3 1382185.00 2009 MA 32603 333
2 1702174.50 2009 MD 32603 334
1 1284660.00 2009 ME 32603 335
0 None 2009 MI 32603 336
1 51386.40 2009 MN 32603 337
1 1284660.00 2009 MO 32603 338
0 None 2009 NC 32603 339
3 2389786.25 2009 NJ 32603 340
2 19334133.00 2009 NM 32603 341
1 256932.00 2009 NV 32603 342
187 376934691.86 2009 NY 32603 343
1 5138640.00 2009 OH 32603 344
1 513864.00 2009 PA 32603 345
3 18119810.00 2009 TX 32603 346
2 1194733.80 2009 VT 32603 347
0 None 2009 WA 32603 348
2 1045350.00 2010 AZ 32603 349
12 8440139.32 2010 CA 32603 350
0 None 2010 CO 32603 351
5 5388982.38 2010 CT 32603 352
1 29037.50 2010 DC 32603 353
0 None 2010 DE 32603 354
6 14731221.54 2010 FL 32603 355
1 59840.33 2010 GA 32603 356
0 None 2010 ID 32603 357
2 3716800.00 2010 IL 32603 358
1 5807500.00 2010 KS 32603 359
2 30732459.73 2010 KY 32603 360
1 897604.88 2010 LA 32603 361
4 2008091.98 2010 MA 32603 362
3 3700300.50 2010 MD 32603 363
1 1161500.00 2010 ME 32603 364
0 None 2010 MI 32603 365
1 58075.00 2010 MN 32603 366
0 None 2010 MO 32603 367
0 None 2010 NC 32603 368
3 2462429.38 2010 NJ 32603 369
1 58075.00 2010 NM 32603 370
1 232300.00 2010 NV 32603 371
185 270481882.96 2010 NY 32603 372
1 4646000.00 2010 OH 32603 373
1 464600.00 2010 PA 32603 374
0 None 2010 PR 32603 375
3 29016566.51 2010 TX 32603 376
2 1080195.00 2010 VT 32603 377
0 None 2010 WA 32603 378
1 1795209.75 2011 AZ 32603 379
7 5768946.73 2011 CA 32603 380
0 None 2011 CO 32603 381
4 4337931.00 2011 CT 32603 382
1 35904.20 2011 DC 32603 383
5 13616422.08 2011 FL 32603 384
1 55614.50 2011 GA 32603 385
0 None 2011 ID 32603 386
1 3590419.50 2011 IL 32603 387
1 5984032.50 2011 KS 32603 388
1 12235190.00 2011 KY 32603 389
1 2224580.00 2011 LA 32603 390
4 4059858.50 2011 MA 32603 391
3 1166886.34 2011 MD 32603 392
1 1196806.50 2011 ME 32603 393
0 None 2011 MI 32603 394
1 59840.33 2011 MN 32603 395
1 1675529.10 2011 MO 32603 396
0 None 2011 NC 32603 397
4 6181551.68 2011 NJ 32603 398
1 59840.33 2011 NM 32603 399
0 None 2011 NV 32603 400
140 217915120.84 2011 NY 32603 401
0 None 2011 OH 32603 402
1 478722.60 2011 PA 32603 403
0 None 2011 PR 32603 404
2 17996589.10 2011 TX 32603 405
1 11122900.00 2011 VA 32603 406
2 1113030.05 2011 VT 32603 407
0 None 2011 WA 32603 408
1 1668435.00 2012 AZ 32603 409
11 7882137.60 2012 CA 32603 410
3 18564824.06 2012 CO 32603 411
6 12270364.50 2012 CT 32603 412
1 33368.70 2012 DC 32603 413
2 6172150.00 2012 DE 32603 414
8 21165019.00 2012 FL 32603 415
0 None 2012 GA 32603 416
1 3336870.00 2012 IL 32603 417
1 5561450.00 2012 KS 32603 418
0 None 2012 KY 32603 419
1 4937720.00 2012 LA 32603 420
6 1790249.25 2012 MA 32603 421
2 222458.00 2012 MD 32603 422
1 1112290.00 2012 ME 32603 423
0 None 2012 MI 32603 424
1 44491.60 2012 MN 32603 425
1 556145.00 2012 MO 32603 426
0 None 2012 NC 32603 427
6 20439074.73 2012 NJ 32603 428
2 4515897.40 2012 NM 32603 429
0 None 2012 NV 32603 430
180 239015114.20 2012 NY 32603 431
0 None 2012 OH 32603 432
1 444916.00 2012 PA 32603 433
0 None 2012 PR 32603 434
3 16906742.85 2012 TX 32603 435
0 None 2012 VA 32603 436
1 978815.20 2012 VT 32603 437
2 4073619.00 2013 AZ 32603 438
12 14936085.75 2013 CA 32603 439
1 12588840.00 2013 CO 32603 440
5 7451086.50 2013 CT 32603 441
2 736412.90 2013 DC 32603 442
3 21680780.00 2013 DE 32603 443
8 26148595.50 2013 FL 32603 444
1 69938.00 2013 GA 32603 445
0 None 2013 ID 32603 446
1 2468860.00 2013 IL 32603 447
1 6172150.00 2013 KS 32603 448
1 9091940.00 2013 LA 32603 449
9 19210019.17 2013 MA 32603 450
2 246886.00 2013 MD 32603 451
1 1234430.00 2013 ME 32603 452
0 None 2013 MI 32603 453
1 61721.50 2013 MN 32603 454
0 None 2013 MO 32603 455
0 None 2013 NC 32603 456
8 39112239.45 2013 NJ 32603 457
2 6246215.80 2013 NM 32603 458
0 None 2013 NV 32603 459
197 277958557.88 2013 NY 32603 460
0 None 2013 OH 32603 461
1 123443.00 2013 PA 32603 462
0 None 2013 PR 32603 463
4 15369876.20 2013 TX 32603 464
0 None 2013 VA 32603 465
1 1086298.40 2013 VT 32603 466
0 None 2013 WA 32603 467
3 6853924.00 2014 AZ 32603 468
10 20483374.60 2014 CA 32603 469
2 16297520.00 2014 CO 32603 470
5 9315598.00 2014 CT 32603 471
2 791962.80 2014 DC 32603 472
3 23250000.00 2014 DE 32603 473
9 31142458.00 2014 FL 32603 474
0 None 2014 GA 32603 475
0 None 2014 ID 32603 476
1 2797520.00 2014 IL 32603 477
1 6993800.00 2014 KS 32603 478
1 11250000.00 2014 LA 32603 479
5 6470379.40 2014 MA 32603 480
2 1014101.00 2014 MD 32603 481
1 1713481.00 2014 ME 32603 482
0 None 2014 MI 32603 483
1 69938.00 2014 MN 32603 484
1 419628.00 2014 MO 32603 485
0 None 2014 NC 32603 486
8 43461348.00 2014 NJ 32603 487
2 7021775.20 2014 NM 32603 488
0 None 2014 NV 32603 489
198 258269489.02 2014 NY 32603 490
0 None 2014 OH 32603 491
1 839256.00 2014 OK 32603 492
0 None 2014 OR 32603 493
4 8607024.00 2014 PA 32603 494
0 None 2014 PR 32603 495
0 None 2014 RI 32603 496
1 349690.00 2014 TN 32603 497
5 24126172.00 2014 TX 32603 498
0 None 2014 VA 32603 499
1 1230908.80 2014 VT 32603 500
0 None 2014 WA 32603 501
1 1500000.00 2015 AZ 32603 502
15 33994002.23 2015 CA 32603 503
3 21514098.00 2015 CO 32603 504
6 12436623.36 2015 CT 32603 505
2 730704.00 2015 DC 32603 506
3 15359769.60 2015 DE 32603 507
14 64974825.60 2015 FL 32603 508
0 None 2015 GA 32603 509
0 None 2015 ID 32603 510
1 3000000.00 2015 IL 32603 511
0 None 2015 IN 32603 512
0 None 2015 KS 32603 513
1 11656968.00 2015 LA 32603 514
7 8773812.54 2015 MA 32603 515
2 1087500.00 2015 MD 32603 516
1 1837500.00 2015 ME 32603 517
0 None 2015 MI 32603 518
0 None 2015 MN 32603 519
2 12300000.00 2015 MO 32603 520
2 5348491.20 2015 NC 32603 521
0 None 2015 NH 32603 522
10 23741426.39 2015 NJ 32603 523
1 7500000.00 2015 NM 32603 524
0 None 2015 NV 32603 525
182 309195578.24 2015 NY 32603 526
0 None 2015 OH 32603 527
1 1800000.00 2015 OK 32603 528
0 None 2015 OR 32603 529
5 15899928.00 2015 PA 32603 530
1 750000.00 2015 RI 32603 531
3 1522500.00 2015 TN 32603 532
6 28692483.36 2015 TX 32603 533
1 37500.00 2015 VA 32603 534
1 1320000.00 2015 VT 32603 535
0 None 2015 WA 32603 536
0 None 2015 WY 32603 537
1 1577119.20 2016 AZ 32603 538
6 6644471.76 2016 CA 32603 539
1 8228448.00 2016 CO 32603 540
2 137140.80 2016 CT 32603 541
2 589705.44 2016 DC 32603 542
0 None 2016 DE 32603 543
3 2845671.60 2016 FL 32603 544
2 1508548.80 2016 GA 32603 545
0 None 2016 ID 32603 546
1 2742816.00 2016 IL 32603 547
0 None 2016 IN 32603 548
0 None 2016 LA 32603 549
2 1851400.80 2016 MA 32603 550
2 994270.80 2016 MD 32603 551
2 1679974.80 2016 ME 32603 552

0 None 2016 MI 32603 553
1 68570.40 2016 MN 32603 554
2 10971264.00 2016 MO 32603 555
0 None 2016 NC 32603 556
0 None 2016 NH 32603 557
5 6596472.48 2016 NJ 32603 558
1 6857040.00 2016 NM 32603 559
1 274281.60 2016 NV 32603 560
70 100610605.10 2016 NY 32603 561
0 None 2016 OH 32603 562
1 548563.20 2016 OK 32603 563
0 None 2016 OR 32603 564
4 10100419.92 2016 PA 32603 565
1 685704.00 2016 RI 32603 566
1 342852.00 2016 TN 32603 567
4 39976543.20 2016 TX 32603 568
1 34285.20 2016 VA 32603 569
1 1206839.04 2016 VT 32603 570
0 None 2016 WA 32603 571
1 2000000.00 2011 AK 38911 572
1 2000000.00 2011 AL 38911 573
3 13900000.00 2011 AZ 38911 574
18 18900000.00 2011 CA 38911 575
1 2000000.00 2011 CO 38911 576
1 2000000.00 2011 CT 38911 577
2 11900000.00 2011 GA 38911 578
8 13900000.00 2011 IL 38911 579
3 13900000.00 2011 MA 38911 580
0 None 2011 MI 38911 581
8 4080000.00 2011 NJ 38911 582
2 11900000.00 2011 NV 38911 583
29 28900000.00 2011 NY 38911 584
3 13900000.00 2011 PA 38911 585
5 14675000.00 2011 TX 38911 586
2 11900000.00 2011 VA 38911 587
0 None 2011 WA 38911 588
0 None 2011 WI 38911 589
2 228462.00 2011 WV 38911 590
1 2000000.00 2012 AK 38911 591
3 2100000.00 2012 AL 38911 592
5 13900000.00 2012 AZ 38911 593
46 25900000.00 2012 CA 38911 594
3 2000000.00 2012 CO 38911 595
6 2500000.00 2012 CT 38911 596
5 10243318.00 2012 DC 38911 597
3 7500000.00 2012 FL 38911 598
13 18900000.00 2012 GA 38911 599
17 28008700.00 2012 IL 38911 600
1 2000000.00 2012 IN 38911 601
1 2000000.00 2012 KS 38911 602
1 2000000.00 2012 KY 38911 603
2 2750000.00 2012 LA 38911 604
4 13900000.00 2012 MA 38911 605
1 2000000.00 2012 MD 38911 606
0 None 2012 MI 38911 607
1 2000000.00 2012 MN 38911 608
1 2000000.00 2012 MO 38911 609
19 7080000.00 2012 NJ 38911 610
2 13900000.00 2012 NV 38911 611
332 86339785.00 2012 NY 38911 612
3 2000000.00 2012 OH 38911 613
2 3000000.00 2012 OR 38911 614
3 13900000.00 2012 PA 38911 615
6 19877000.00 2012 RI 38911 616
2 13900000.00 2012 TN 38911 617
22 19960000.00 2012 TX 38911 618
3 2000000.00 2012 UT 38911 619
3 14300000.00 2012 VA 38911 620
2 2000000.00 2012 VT 38911 621
2 2000000.00 2012 WA 38911 622
0 None 2012 WI 38911 623
1 228462.00 2012 WV 38911 624
3 9000000.00 2013 AK 38911 625
10 2600000.00 2013 AL 38911 626
1 500000.00 2013 AR 38911 627
7 14900000.00 2013 AZ 38911 628
80 29900000.00 2013 CA 38911 629
4 2000000.00 2013 CO 38911 630
14 20500000.00 2013 CT 38911 631
6 7500000.00 2013 DC 38911 632
15 16900000.00 2013 FL 38911 633
21 52881638.00 2013 GA 38911 634
30 24400000.00 2013 IL 38911 635
2 2000000.00 2013 IN 38911 636
2 2000000.00 2013 KS 38911 637
2 2000000.00 2013 KY 38911 638
3 3250000.00 2013 LA 38911 639
6 28900000.00 2013 MA 38911 640
1 2000000.00 2013 MD 38911 641
8 14400000.00 2013 MI 38911 642
3 13900000.00 2013 MN 38911 643
5 2000000.00 2013 MO 38911 644
4 6500000.00 2013 MS 38911 645
3 14900000.00 2013 NC 38911 646
1 500000.00 2013 NH 38911 647
29 29480000.00 2013 NJ 38911 648
2 2550000.00 2013 NM 38911 649
3 13900000.00 2013 NV 38911 650
412 93189785.00 2013 NY 38911 651
7 7000000.00 2013 OH 38911 652
1 2000000.00 2013 OK 38911 653
3 2000000.00 2013 OR 38911 654
10 19900000.00 2013 PA 38911 655
1 3000000.00 2013 RI 38911 656
5 2000000.00 2013 SC 38911 657
3 14400000.00 2013 TN 38911 658
37 33810000.00 2013 TX 38911 659
1 2000000.00 2013 UT 38911 660
11 29900000.00 2013 VA 38911 661
2 2000000.00 2013 VT 38911 662
3 2000000.00 2013 WA 38911 663
0 None 2013 WI 38911 664
1 228462.00 2013 WV 38911 665
1 2000000.00 2013 WY 38911 666
3 6500000.00 2014 AK 38911 667
12 3600000.00 2014 AL 38911 668
0 None 2014 AR 38911 669
15 15000000.00 2014 AZ 38911 670
157 28000000.00 2014 CA 38911 671
5 8000000.00 2014 CO 38911 672
18 32900000.00 2014 CT 38911 673
6 10500000.00 2014 DC 38911 674
1 500000.00 2014 DE 38911 675
71 3500000.00 2014 FL 38911 676
34 41981638.00 2014 GA 38911 677
3 13000000.00 2014 HI 38911 678
35 20590368.00 2014 IL 38911 679
6 3000000.00 2014 IN 38911 680
5 3500000.00 2014 KS 38911 681
4 3000000.00 2014 KY 38911 682
1 500000.00 2014 LA 38911 683
13 19612000.00 2014 MA 38911 684
7 3500000.00 2014 MD 38911 685
6 2500000.00 2014 MI 38911 686
4 3000000.00 2014 MN 38911 687
10 3500000.00 2014 MO 38911 688
3 6500000.00 2014 MS 38911 689
13 17500000.00 2014 NC 38911 690
0 None 2014 ND 38911 691
1 500000.00 2014 NE 38911 692
1 2000000.00 2014 NH 38911 693
29 25275796.00 2014 NJ 38911 694
1 2000000.00 2014 NM 38911 695
6 12000000.00 2014 NV 38911 696
438 81591023.00 2014 NY 38911 697
10 13000000.00 2014 OH 38911 698
2 1500000.00 2014 OK 38911 699
4 3500000.00 2014 OR 38911 700
24 26889368.00 2014 PA 38911 701
4 4500000.00 2014 RI 38911 702
7 2500000.00 2014 SC 38911 703
6 3500000.00 2014 TN 38911 704
47 26910000.00 2014 TX 38911 705
6 3500000.00 2014 UT 38911 706
14 19155000.00 2014 VA 38911 707
0 None 2014 VT 38911 708
6 13000000.00 2014 WA 38911 709
3 13000000.00 2014 WI 38911 710
0 None 2014 WV 38911 711
1 2000000.00 2014 WY 38911 712
3 6500000.00 2015 AK 38911 713
14 5900000.00 2015 AL 38911 714
1 500000.00 2015 AR 38911 715
28 15500000.00 2015 AZ 38911 716
235 31500000.00 2015 CA 38911 717
8 3500000.00 2015 CO 38911 718
22 35400000.00 2015 CT 38911 719
9 20500000.00 2015 DC 38911 720
1 500000.00 2015 DE 38911 721
157 3800000.00 2015 FL 38911 722
49 14500000.00 2015 GA 38911 723
2 7000000.00 2015 HI 38911 724
4 2500000.00 2015 ID 38911 725
39 22500000.00 2015 IL 38911 726
7 3000000.00 2015 IN 38911 727
5 3500000.00 2015 KS 38911 728
5 3000000.00 2015 KY 38911 729
1 2000000.00 2015 LA 38911 730
21 25112000.00 2015 MA 38911 731
16 3500000.00 2015 MD 38911 732
7 2500000.00 2015 MI 38911 733
6 3000000.00 2015 MN 38911 734
10 3500000.00 2015 MO 38911 735
1 4000000.00 2015 MS 38911 736
1 2000000.00 2015 MT 38911 737
18 19800000.00 2015 NC 38911 738
0 None 2015 ND 38911 739
1 500000.00 2015 NE 38911 740
1 2000000.00 2015 NH 38911 741
51 29275796.00 2015 NJ 38911 742
4 2000000.00 2015 NM 38911 743
9 17500000.00 2015 NV 38911 744
549 79341023.00 2015 NY 38911 745
12 13000000.00 2015 OH 38911 746
4 3800000.00 2015 OK 38911 747
4 3500000.00 2015 OR 38911 748
23 18500000.00 2015 PA 38911 749
6 6583000.00 2015 RI 38911 750
15 5800000.00 2015 SC 38911 751
12 12500000.00 2015 TN 38911 752
55 28400000.00 2015 TX 38911 753
6 3500000.00 2015 UT 38911 754
15 27455000.00 2015 VA 38911 755
1 2000000.00 2015 VT 38911 756
6 7000000.00 2015 WA 38911 757
3 7500000.00 2015 WI 38911 758
1 228462.00 2015 WV 38911 759
1 2000000.00 2015 WY 38911 760
5 6500000.00 2016 AK 38911 761
17 5992000.00 2016 AL 38911 762
1 500000.00 2016 AR 38911 763
32 12500000.00 2016 AZ 38911 764
288 41810000.00 2016 CA 38911 765
13 7500000.00 2016 CO 38911 766
28 33650000.00 2016 CT 38911 767
11 22500000.00 2016 DC 38911 768
181 17500000.00 2016 FL 38911 769
85 22500000.00 2016 GA 38911 770
4 3000000.00 2016 HI 38911 771
5 2500000.00 2016 ID 38911 772
42 25500000.00 2016 IL 38911 773
8 3500000.00 2016 IN 38911 774
5 3500000.00 2016 KS 38911 775
5 3500000.00 2016 KY 38911 776
4 6500000.00 2016 LA 38911 777
33 19696480.00 2016 MA 38911 778
19 6000000.00 2016 MD 38911 779
3 2000000.00 2016 ME 38911 780
12 7500000.00 2016 MI 38911 781
6 3000000.00 2016 MN 38911 782
11 3500000.00 2016 MO 38911 783
1 4000000.00 2016 MS 38911 784
1 2000000.00 2016 MT 38911 785
18 19892000.00 2016 NC 38911 786
0 None 2016 ND 38911 787
1 500000.00 2016 NE 38911 788
2 3000000.00 2016 NH 38911 789
71 26427000.00 2016 NJ 38911 790
7 8500000.00 2016 NM 38911 791
11 17500000.00 2016 NV 38911 792
646 91337503.00 2016 NY 38911 793
16 17000000.00 2016 OH 38911 794
6 5392000.00 2016 OK 38911 795
4 3500000.00 2016 OR 38911 796
28 26700000.00 2016 PA 38911 797
8 8666320.00 2016 RI 38911 798
16 5892000.00 2016 SC 38911 799
15 12500000.00 2016 TN 38911 800
77 29817000.00 2016 TX 38911 801
8 3500000.00 2016 UT 38911 802
20 21677200.00 2016 VA 38911 803
2 6000000.00 2016 VT 38911 804
8 2000000.00 2016 WA 38911 805
4 6500000.00 2016 WI 38911 806
2 11000000.00 2016 WV 38911 807
1 2000000.00 2016 WY 38911 808
1 16522070.00 2008 AL 40045 809
1 1350000.00 2008 AZ 40045 810
10 116734050.00 2008 CA 40045 811
1 7000000.00 2008 CO 40045 812
2 7750000.00 2008 CT 40045 813
3 114000000.00 2008 DC 40045 814
2 15250000.00 2008 DE 40045 815
2 50000000.00 2008 FL 40045 816
1 25000000.00 2008 GA 40045 817
1 5000000.00 2008 HI 40045 818

0 None 2008 ID 40045 819
9 147015400.00 2008 IL 40045 820
0 None 2008 KY 40045 821
2 70979500.00 2008 MD 40045 822
0 None 2008 MN 40045 823
1 20837928.00 2008 MO 40045 824
0 None 2008 NJ 40045 825
0 None 2008 NM 40045 826
81 413712094.00 2008 NY 40045 827
3 110000000.00 2008 OH 40045 828
0 None 2008 OK 40045 829
3 77000000.00 2008 PA 40045 830
1 100000000.00 2008 RI 40045 831
0 None 2008 TN 40045 832
0 None 2008 TX 40045 833
0 None 2008 WA 40045 834
0 None 2009 AK 40045 835
0 None 2009 AL 40045 836
1 1000000.00 2009 AZ 40045 837
16 133817830.00 2009 CA 40045 838
1 7000000.00 2009 CO 40045 839
7 137800000.00 2009 CT 40045 840
5 114500000.00 2009 DC 40045 841
2 15250000.00 2009 DE 40045 842
7 83465130.00 2009 FL 40045 843
1 26000000.00 2009 GA 40045 844
1 5000000.00 2009 HI 40045 845
0 None 2009 ID 40045 846
28 342054410.00 2009 IL 40045 847
0 None 2009 KS 40045 848
0 None 2009 KY 40045 849
6 137164712.00 2009 MA 40045 850
3 156365500.00 2009 MD 40045 851
5 47980000.00 2009 MI 40045 852
3 59080000.00 2009 MN 40045 853
2 102110000.00 2009 MO 40045 854
1 7500000.00 2009 NC 40045 855
0 None 2009 NH 40045 856
4 3400000.00 2009 NJ 40045 857
4 73000000.00 2009 NM 40045 858
0 None 2009 NV 40045 859
188 929495646.00 2009 NY 40045 860
6 128935360.00 2009 OH 40045 861
0 None 2009 OK 40045 862
0 None 2009 OR 40045 863
7 134075400.00 2009 PA 40045 864
2 131300000.00 2009 RI 40045 865
2 17306451.00 2009 TN 40045 866
7 64054640.00 2009 TX 40045 867
1 650000.00 2009 WA 40045 868
2 124325892.00 2009 WI 40045 869
1 2100000.00 2009 WY 40045 870
0 None 2010 AK 40045 871
3 45750000.00 2010 AL 40045 872
4 9300000.00 2010 AZ 40045 873
79 161588815.00 2010 CA 40045 874
4 5050000.00 2010 CO 40045 875
17 40125000.00 2010 CT 40045 876
9 164324895.00 2010 DC 40045 877
1 124762000.00 2010 DE 40045 878
36 69826549.00 2010 FL 40045 879
9 111253639.00 2010 GA 40045 880
3 6600000.00 2010 HI 40045 881
0 None 2010 IA 40045 882
1 10000000.00 2010 ID 40045 883
47 322103111.00 2010 IL 40045 884
0 None 2010 IN 40045 885
1 1220000.00 2010 KS 40045 886
1 1000000.00 2010 KY 40045 887
1 500000.00 2010 LA 40045 888
25 455122426.00 2010 MA 40045 889
14 134735100.00 2010 MD 40045 890
4 42980000.00 2010 MI 40045 891
3 10555000.00 2010 MN 40045 892
8 12229500.00 2010 MO 40045 893
0 None 2010 MS 40045 894
7 31770000.00 2010 NC 40045 895
0 None 2010 ND 40045 896
3 2050000.00 2010 NH 40045 897
26 199753760.00 2010 NJ 40045 898
9 68554275.00 2010 NM 40045 899
2 1200000.00 2010 NV 40045 900
482 4669564982.00 2010 NY 40045 901
8 121386984.00 2010 OH 40045 902
3 2350000.00 2010 OK 40045 903
1 5993769.00 2010 OR 40045 904
19 118437000.00 2010 PA 40045 905
7 181321300.00 2010 RI 40045 906
4 2994560.00 2010 SC 40045 907
1 8000000.00 2010 SD 40045 908
7 60252600.00 2010 TN 40045 909
21 77660250.00 2010 TX 40045 910
1 1100000.00 2010 UT 40045 911
1 100000.00 2010 VA 40045 912
1 2000000.00 2010 VT 40045 913
4 141650000.00 2010 WA 40045 914
1 100000000.00 2010 WI 40045 915
1 1300000.00 2010 WV 40045 916
0 None 2010 WY 40045 917
1 265000.00 2011 AK 40045 918
4 17300000.00 2011 AL 40045 919
1 150000.00 2011 AR 40045 920
15 25670000.00 2011 AZ 40045 921
116 215837529.00 2011 CA 40045 922
9 7159000.00 2011 CO 40045 923
35 87104512.00 2011 CT 40045 924
14 187968707.00 2011 DC 40045 925
4 35150000.00 2011 DE 40045 926
53 138273884.00 2011 FL 40045 927
23 152750950.00 2011 GA 40045 928
0 None 2011 HI 40045 929
1 90000.00 2011 IA 40045 930
2 14000000.00 2011 ID 40045 931
74 430357871.00 2011 IL 40045 932
1 3000000.00 2011 IN 40045 933
9 4377250.00 2011 KS 40045 934
2 49855000.00 2011 KY 40045 935
2 1500000.00 2011 LA 40045 936
63 315585994.00 2011 MA 40045 937
18 187789900.00 2011 MD 40045 938
11 54717135.00 2011 ME 40045 939
10 47819000.00 2011 MI 40045 940
7 30164665.00 2011 MN 40045 941
11 168937138.00 2011 MO 40045 942
1 25889026.00 2011 MS 40045 943
1 72890.00 2011 MT 40045 944
14 51530830.00 2011 NC 40045 945
0 None 2011 ND 40045 946
2 2301700.00 2011 NE 40045 947
7 2061000.00 2011 NH 40045 948
46 90651000.00 2011 NJ 40045 949
14 91840000.00 2011 NM 40045 950
4 1750000.00 2011 NV 40045 951
684 2009357970.00 2011 NY 40045 952
13 135865000.00 2011 OH 40045 953
3 2350000.00 2011 OK 40045 954
3 10082100.00 2011 OR 40045 955
32 130068750.00 2011 PA 40045 956
12 185142805.00 2011 RI 40045 957
17 13583710.00 2011 SC 40045 958
1 100000.00 2011 SD 40045 959
14 91971993.00 2011 TN 40045 960
62 204990433.00 2011 TX 40045 961
1 700000.00 2011 UT 40045 962
9 9618910.00 2011 VA 40045 963
7 4125615.00 2011 VT 40045 964
12 159900000.00 2011 WA 40045 965
5 301611000.00 2011 WI 40045 966
1 1600000.00 2011 WV 40045 967
2 1705000.00 2011 WY 40045 968
1 265000.00 2012 AK 40045 969
15 22125000.00 2012 AL 40045 970
3 9550000.00 2012 AR 40045 971
24 32445000.00 2012 AZ 40045 972
155 308234187.00 2012 CA 40045 973
11 96518700.00 2012 CO 40045 974
60 200668536.00 2012 CT 40045 975
21 336877372.00 2012 DC 40045 976
4 84850000.00 2012 DE 40045 977
78 170361347.00 2012 FL 40045 978
56 161712836.00 2012 GA 40045 979
1 1125865.00 2012 HI 40045 980
2 10100000.00 2012 IA 40045 981
1 10000000.00 2012 ID 40045 982
75 556386519.00 2012 IL 40045 983
7 30520300.00 2012 IN 40045 984
9 5115750.00 2012 KS 40045 985
1 1000000.00 2012 KY 40045 986
11 8035000.00 2012 LA 40045 987
78 266222096.00 2012 MA 40045 988
18 119512200.00 2012 MD 40045 989
16 58145007.00 2012 ME 40045 990
9 43839000.00 2012 MI 40045 991
9 75755914.00 2012 MN 40045 992
18 183802638.00 2012 MO 40045 993
2 8642971.00 2012 MS 40045 994
2 2072890.00 2012 MT 40045 995
24 68204193.00 2012 NC 40045 996
0 None 2012 ND 40045 997
2 2301700.00 2012 NE 40045 998
10 115568100.00 2012 NH 40045 999
59 193395000.00 2012 NJ 40045 1000
25 100842500.00 2012 NM 40045 1001
5 3900000.00 2012 NV 40045 1002
909 2029118521.00 2012 NY 40045 1003
22 130637000.00 2012 OH 40045 1004
3 2350000.00 2012 OK 40045 1005
3 3100000.00 2012 OR 40045 1006
47 166765775.00 2012 PA 40045 1007
0 None 2012 PR 40045 1008
11 196590133.00 2012 RI 40045 1009
22 16628710.00 2012 SC 40045 1010
3 1175000.00 2012 SD 40045 1011
24 89766180.00 2012 TN 40045 1012
94 200205661.00 2012 TX 40045 1013
5 3605000.00 2012 UT 40045 1014
15 12193910.00 2012 VA 40045 1015
11 7768115.00 2012 VT 40045 1016
10 153529000.00 2012 WA 40045 1017
5 276401000.00 2012 WI 40045 1018
1 2500000.00 2012 WV 40045 1019
3 2568166.00 2012 WY 40045 1020
1 265000.00 2013 AK 40045 1021
30 55050000.00 2013 AL 40045 1022
6 13150000.00 2013 AR 40045 1023
28 36062000.00 2013 AZ 40045 1024
209 267927168.00 2013 CA 40045 1025
15 70230259.00 2013 CO 40045 1026
72 269464417.00 2013 CT 40045 1027
16 233607709.00 2013 DC 40045 1028
6 88500000.00 2013 DE 40045 1029
103 104463698.00 2013 FL 40045 1030
69 91833726.00 2013 GA 40045 1031
1 1125865.00 2013 HI 40045 1032
7 20363600.00 2013 IA 40045 1033
0 None 2013 ID 40045 1034
109 418118036.00 2013 IL 40045 1035
9 138158000.00 2013 IN 40045 1036
14 24455750.00 2013 KS 40045 1037
10 11226213.00 2013 KY 40045 1038
15 11035000.00 2013 LA 40045 1039
91 329974497.00 2013 MA 40045 1040
30 84767585.00 2013 MD 40045 1041
17 62944007.00 2013 ME 40045 1042
21 149471800.00 2013 MI 40045 1043
17 37948060.00 2013 MN 40045 1044
29 404174393.00 2013 MO 40045 1045
1 100000.00 2013 MS 40045 1046
5 5172890.00 2013 MT 40045 1047
35 77769043.00 2013 NC 40045 1048
0 None 2013 ND 40045 1049
3 4101700.00 2013 NE 40045 1050
17 75182100.00 2013 NH 40045 1051
64 101033840.00 2013 NJ 40045 1052
31 122070182.00 2013 NM 40045 1053
5 3235000.00 2013 NV 40045 1054
939 1539662995.00 2013 NY 40045 1055
34 134379500.00 2013 OH 40045 1056
8 5105093.00 2013 OK 40045 1057
7 4950000.00 2013 OR 40045 1058
66 184068560.00 2013 PA 40045 1059
0 None 2013 PR 40045 1060
8 163165374.00 2013 RI 40045 1061
29 22923490.00 2013 SC 40045 1062
3 1545000.00 2013 SD 40045 1063
28 102052523.00 2013 TN 40045 1064
147 263091813.00 2013 TX 40045 1065
8 6995700.00 2013 UT 40045 1066
14 5255000.00 2013 VA 40045 1067
14 6566615.00 2013 VT 40045 1068
15 112416208.00 2013 WA 40045 1069
6 102314028.00 2013 WI 40045 1070
2 26500000.00 2013 WV 40045 1071
5 60205773.00 2013 WY 40045 1072
1 265000.00 2014 AK 40045 1073
28 62131909.00 2014 AL 40045 1074
6 13150000.00 2014 AR 40045 1075
42 52425500.00 2014 AZ 40045 1076
257 324508550.00 2014 CA 40045 1077

17 20192259.00 2014 CO 40045 1078
76 251910390.00 2014 CT 40045 1079
14 261278738.00 2014 DC 40045 1080
6 43500000.00 2014 DE 40045 1081
106 132833850.00 2014 FL 40045 1082
92 132759160.00 2014 GA 40045 1083
1 1125865.00 2014 HI 40045 1084
9 13593600.00 2014 IA 40045 1085
0 None 2014 ID 40045 1086
112 371021720.00 2014 IL 40045 1087
16 142522620.00 2014 IN 40045 1088
20 18719250.00 2014 KS 40045 1089
12 14458338.00 2014 KY 40045 1090
17 11711000.00 2014 LA 40045 1091
102 421040144.00 2014 MA 40045 1092
28 95413185.00 2014 MD 40045 1093
21 74336170.00 2014 ME 40045 1094
24 25659000.00 2014 MI 40045 1095
20 44193086.00 2014 MN 40045 1096
31 42997700.00 2014 MO 40045 1097
3 2180000.00 2014 MS 40045 1098
4 5187450.00 2014 MT 40045 1099
33 74104243.00 2014 NC 40045 1100
1 200000.00 2014 ND 40045 1101
2 2900000.00 2014 NE 40045 1102
19 65742158.00 2014 NH 40045 1103
73 105816840.00 2014 NJ 40045 1104
47 184344904.00 2014 NM 40045 1105
9 6816877.00 2014 NV 40045 1106
953 1592344704.00 2014 NY 40045 1107
48 144024501.00 2014 OH 40045 1108
9 66567000.00 2014 OK 40045 1109
11 6325000.00 2014 OR 40045 1110
78 311367710.00 2014 PA 40045 1111
6 86070202.00 2014 RI 40045 1112
39 23883490.00 2014 SC 40045 1113
5 3985000.00 2014 SD 40045 1114
35 102381155.00 2014 TN 40045 1115
166 214808123.00 2014 TX 40045 1116
11 8714000.00 2014 UT 40045 1117
16 15583810.00 2014 VA 40045 1118
18 7366616.00 2014 VT 40045 1119
20 112803200.00 2014 WA 40045 1120
6 105919609.00 2014 WI 40045 1121
3 26770000.00 2014 WV 40045 1122
4 6549283.00 2014 WY 40045 1123
2 299000.00 2015 AK 40045 1124
26 59781292.00 2015 AL 40045 1125
6 21950000.00 2015 AR 40045 1126
44 47423000.00 2015 AZ 40045 1127
271 212069600.00 2015 CA 40045 1128
20 12272259.00 2015 CO 40045 1129
89 177497601.00 2015 CT 40045 1130
11 70971622.00 2015 DC 40045 1131
6 44500000.00 2015 DE 40045 1132
118 65714400.00 2015 FL 40045 1133
101 141756901.00 2015 GA 40045 1134
4 1477000.00 2015 HI 40045 1135
7 14618600.00 2015 IA 40045 1136
3 9100000.00 2015 ID 40045 1137
111 229356835.00 2015 IL 40045 1138
18 88379295.00 2015 IN 40045 1139
22 23570250.00 2015 KS 40045 1140
11 28218418.00 2015 KY 40045 1141
20 15471900.00 2015 LA 40045 1142
105 219157390.00 2015 MA 40045 1143
29 84839360.00 2015 MD 40045 1144
18 67867101.00 2015 ME 40045 1145
28 82517662.00 2015 MI 40045 1146
28 49757691.00 2015 MN 40045 1147
26 35294174.00 2015 MO 40045 1148
4 2655000.00 2015 MS 40045 1149
3 4187450.00 2015 MT 40045 1150
34 55654178.00 2015 NC 40045 1151
4 3555000.00 2015 ND 40045 1152
3 2900000.00 2015 NE 40045 1153
18 66486000.00 2015 NH 40045 1154
83 110770941.10 2015 NJ 40045 1155
55 132272742.00 2015 NM 40045 1156
8 11281877.00 2015 NV 40045 1157
974 1195404259.01 2015 NY 40045 1158
67 108023001.00 2015 OH 40045 1159
11 61806043.00 2015 OK 40045 1160
10 4980000.00 2015 OR 40045 1161
74 249413037.00 2015 PA 40045 1162
7 60871319.00 2015 RI 40045 1163
39 24774560.00 2015 SC 40045 1164
5 3739800.00 2015 SD 40045 1165
46 109132749.01 2015 TN 40045 1166
178 174637935.01 2015 TX 40045 1167
11 8300000.00 2015 UT 40045 1168
15 45068810.00 2015 VA 40045 1169
13 12131500.00 2015 VT 40045 1170
22 87474895.00 2015 WA 40045 1171
8 54724712.00 2015 WI 40045 1172
3 26770000.00 2015 WV 40045 1173
4 6500000.00 2015 WY 40045 1174
4 4368600.00 2016 AK 40045 1175
24 69195683.00 2016 AL 40045 1176
6 23147895.00 2016 AR 40045 1177
46 50352000.00 2016 AZ 40045 1178
279 225661600.00 2016 CA 40045 1179
23 49135000.00 2016 CO 40045 1180
91 196693998.00 2016 CT 40045 1181
11 79094349.00 2016 DC 40045 1182
6 48500000.00 2016 DE 40045 1183
129 67863600.00 2016 FL 40045 1184
153 126792709.00 2016 GA 40045 1185
4 1950000.00 2016 HI 40045 1186
7 14443600.00 2016 IA 40045 1187
9 16350000.00 2016 ID 40045 1188
108 219637739.00 2016 IL 40045 1189
21 97182040.00 2016 IN 40045 1190
19 20220000.00 2016 KS 40045 1191
14 30721418.00 2016 KY 40045 1192
17 11710900.00 2016 LA 40045 1193
109 223686171.00 2016 MA 40045 1194
31 91577000.00 2016 MD 40045 1195
21 66723849.00 2016 ME 40045 1196
31 91298289.00 2016 MI 40045 1197
33 54263080.00 2016 MN 40045 1198
24 67455474.00 2016 MO 40045 1199
4 2555000.00 2016 MS 40045 1200
4 9100000.00 2016 MT 40045 1201
29 54127743.00 2016 NC 40045 1202
4 3500000.00 2016 ND 40045 1203
3 2960000.00 2016 NE 40045 1204
13 62785000.00 2016 NH 40045 1205
96 151832956.00 2016 NJ 40045 1206
65 144073055.00 2016 NM 40045 1207
12 14285000.00 2016 NV 40045 1208
967 1065711922.01 2016 NY 40045 1209
67 114685000.00 2016 OH 40045 1210
12 63954568.00 2016 OK 40045 1211
10 7930000.00 2016 OR 40045 1212
82 205940632.00 2016 PA 40045 1213
1 250000.00 2016 PR 40045 1214
7 53060612.00 2016 RI 40045 1215
36 25085235.00 2016 SC 40045 1216
3 1375000.00 2016 SD 40045 1217
44 112426349.01 2016 TN 40045 1218
193 209854328.01 2016 TX 40045 1219
13 13460000.00 2016 UT 40045 1220
17 51728810.00 2016 VA 40045 1221
14 16178000.00 2016 VT 40045 1222
18 80746480.00 2016 WA 40045 1223
12 54980000.00 2016 WI 40045 1224
3 26770000.00 2016 WV 40045 1225
4 6900000.00 2016 WY 40045 1226

In [ ]:
#Done.